*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333333;}
img{display: block; border: 0;}
html{scroll-behavior: smooth;}
*{font-family: 'Noto Sans KR', sans-serif;}

#wrap{
    width: 100%;
    overflow: hidden;
    user-select: none;
}

header{
    width: 100%;
    float: left;
}

#in_header{
    width: 100px;
    height: 100vh;
    background-color: #eeeeee;
    float: left;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#in_header>p{
    position: absolute;
    top: 80px;
    left: 30px;  
    z-index: 999; 
    color: #333333;
    font-weight: 700;
   
}

.logo{ transform: rotate(-90deg); }

/* 햄버거 메뉴 */

#menuicon{
    display: none;
}

#menu_wrap{
    width: 35px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17.5px;
    margin-top: -25px;
    z-index: 999;
}

#menu_icon{
    width: 35px;
    height: 50px;
    display: block;
    cursor: pointer;   
}

span{
    display: block;
    width: 5px;
    height: 50px;
    background-color: #333;
    float: left;
    border-radius: 5px;
    transition: 0.5s;

}

.two{ margin-left: 10px;}
.three{ margin-left: 10px;}


#menuicon:checked~#menu_icon .one{
  
    transform: translateX(290%) rotate(-45deg);
}
#menuicon:checked~#menu_icon .two{
    opacity: 0;
}
#menuicon:checked~#menu_icon .three{

    transform: translateX(-290%) rotate(45deg);   
}

/* sub_menu------------------------------------------------- */

#sub_menu_wrap{
    width: 600px;
    height: 100vh;
    background-color: #eeeeee;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s;
    overflow: hidden;
    position: absolute;
    top: -460px;
    left: -800px;
    z-index: -30;
    padding-top: 150px;
    box-sizing: border-box;
  
}

#sub_menu_wrap>li{
    width: 100%;
    line-height: 100px;
    font-size: 60px;
    padding-left: 150px;
    box-sizing: border-box;
    transition: 0.5s;       
}

#sub_menu_wrap>li>a{  font-family: 'Montserrat', sans-serif;}

#menuicon:checked~#sub_menu_wrap{
    position: absolute;
    left: 0px;

}

#sub_menu_wrap>li a:hover{
    color: #90dba6;
    transition: color 0.4s linear;
}
.sub_project{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;

}
.sub_project>li{
    width: 100%;
    line-height: 100px;
    font-size: 40px;
    color: #505050;
    transition: 0.5s;

}

.sub_project>li a{
    color: #505050;
    font-family: 'Montserrat', sans-serif;
}

#sub_menu_wrap>li:nth-child(3):hover .sub_project{
    height: 200px;
}

.header_txt{
    position: absolute;
    bottom: 80px;
    left: 13%;
    transform: rotate(-90deg);
    color: #333333;
    font-weight: 700;
}



/* sec01 main_page --------------------------------------------------------------*/

#sec01{
    width: 100%;
    height: 100vh;
    float: left;
}

#main_wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background:url(img/main_black_bg.png) fixed center / cover;
}

.main{
    width: 100%;
    height: 100vh;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/main_bg.png) fixed center/cover;
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.5s;
}

#sec01_top_title{
    position: absolute;
    top: 37%;
    left: 13%;
    font-size: 26px;
    color: #c3ffd5;
    position: fixed;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
    animation-delay: 2.5s;
    font-family: 'Montserrat', sans-serif;
   
}



#sec01_title{
    position: absolute;
    top: 46.5%;
    left: 13%;
    font-size: 87px;
    position: fixed;
    color: #333333;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
    animation-delay: 2s;
    letter-spacing: -3px;
   font-family: 'Montserrat', sans-serif;
}


#sec01_sub_title01{
    position: absolute;
    top: 34.5%;
    left: 81%;
    color: #333333;
    font-size: 33px;
    position: fixed;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
    animation-delay: 1s;
  
}

#sec01_sub_title02{
    position: absolute;
    top: 53%;
    left: 60.2%;
    color: #333333;
    font-size: 33px;
    transform: rotate(-90deg);
    position: fixed;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		
	}
	to {
		opacity: 1;
		
	}
}

/* sec02 About Page------------------------------------------------ */

#sec02{
    width: 100%;
    float: left;
    position: relative;
    top: 0;
  
}

#sec02>#main_wrap>.main_bg{
    width: 100%;
    height: 100vh;
    float: left;
    opacity: 0.05;
    background: url(img/main_bg_r.png) no-repeat center /cover;
}

/* skill 영역 부분 시작============================================== */

.bottom_bg{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
}

#skill_con_wrap{
    width: 1200px;
    height: 400px;
    margin: 30px 500px;
    display: flex;
}


#skill_txt_bg{
    width: 370px;
    height: 50px;
    background-color: #343434;
    position: absolute;
    top: 12%;
    left: 5%;
    font: 400 30px/50px '';
    padding-left: 120px;
    box-sizing: border-box;
    color: #c3ffd5;
    font-family: 'Montserrat', sans-serif;
 
   
}


#skill_left_con{
    width: 535px;
    height: 100%;
    padding-left: 20px;
    box-sizing: border-box;
   
}

#skill_right_con{
    width: 535px;
    height: 100%;
}

.skill_incon_wrap{
   width: 535px;
   height: 120px;
   display: flex;
  

}

.skill_con{
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border: 5px solid#c3ffd5;
    margin: 15px 0;
    line-height: 70px;
    position: relative;
    overflow: hidden;
   
   
}

.skill_in_con{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.3);
    transition: 0.8s;
    position: absolute;
    left: 0;
    top: 80px;
    font-weight: 900;
}


h3{
    text-align: center;
    color: #d5ffe1;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

#s_06{
    line-height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    font-size: 16px;
}



.skill_con_txt{
    width: 400px;
    height: 120px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 40px;
    box-sizing: border-box;
    color: #eeeeee;
}

.round_title_wrap{
    width: 400px;
    height: 80px;
    display: flex;
    position: absolute;
    top: 100px;
    left: 200px;
    
}

.round{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #c3ffd5;
    text-align: center;
    line-height: 80px;
    font-weight: 800;
    color: #333333;
}

.sub_title{
    width: 300px;
    height: 80px;
    line-height: 80px;
    color: #eeeeee;
    padding-left: 15px;
    box-sizing: border-box;
    animation: blink 2s linear infinite ;
}

@keyframes blink {
    0%{opacity: 0;}
    30%{opacity: 0.5;}
    50%{opacity: 1;}
    70%{opacity: 0.5;}
    100%{opacity: 0;}
}



#sec02_main_name_wrap{
    width: 1200px;
    height: 170px;
    display: flex;
    position: absolute;
    top: 27%;
    left: 53%;
    margin-left: -500px;
    
}

.name{
    width: 660px;
    height: 100%;
    font-size: 110px;
    color: #c3ffd5;
    font-family: 'Noto Serif Display', serif;
    

}

.right_con_txt{
    width: 400px;
    height: 100%;
    float: left;
    color: #eeeeee;
  
}

.right_con_txt>p:nth-child(1){
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/* sec03 project_intro */

#sec03{
    width: 100%;
    float: left;
    position: relative;
}

#sec03>#main_wrap>.main_bg{
    width: 100%;
    height: 100vh;
    float: left;
    opacity: 0.1;
    background: url(img/main_sec03bg.png) no-repeat center / cover;
}

#sec03_main_name_wrap{
    width: 1200px;
    color: #c3ffd5;
    float: left;
    position: absolute;
    top: 38%;
    left: 24%;
    
}
#sec03_main_name_wrap>.name{
    width: 100%;
    height: 100%;
    font-size: 110px;
    position: relative;
    z-index: 90;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.5px;
   
}



#sec03_main_name_wrap>.name::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.88em;
    transform: rotateX(180deg);
    transform-origin: bottom;
    background: linear-gradient(to top,#6d8574cc 0%,transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    z-index: -1;
    
    
}

@keyframes sec03_txt_wrap_move{


    0%{
        left: -50%;
        opacity: 0;
    }

    100%{
         left: 24%;
         opacity: 1;
    }

}

@keyframes disappear {

  0%{
      left: 24%;
      opacity: 1;
  }

  100%{
      left: -50%;
      opacity: 0;
  }
}

#arrow{
  
    position: absolute;
    bottom: 270px;
    left: 50%;
}

#arrow>.fa-solid{
    font-size: 50px;
    color: #c3ffd5;
}

#arrow>#down_02{
    position: absolute;
    
    bottom: -17px;
    left: 1%;
}
.bounce{animation: bounce 2s infinite;}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/* sec04 project01 --------곰표--------------------------- */

#sec04{
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
    
}
#sec04 .main_bg{
    width: 100%;
    height: 100vh;
    float: left;
    opacity: 0.1;
    background: url(img/main_bg_r.png) no-repeat center / cover;
}

#sec04_container{
    width: 97%;
    height: 90vh;
    background-color: #f8f8f8;
    position: absolute;
    top: 5%;
    border-bottom-right-radius: 200px;
    display: flex;
   
}

.right_con{
    width: 50%;
    height: 100%;
   
   
}

.number{
    width: 100%;
    font-size: 200px;
    text-align: center;
    position: relative;
    top: 90px;
    left: 10%;
}

.number_in_con{
    width: 340px;
    height: 80px;
    background-color: #f8f8f8;
    box-shadow: 5px 5px 20px 0px rgba(78, 78, 78, 0.5);
    font-size: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    top: 120px;
    left: 285px;
     font-family: 'Montserrat', sans-serif;
}

.web_txt{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-left: 49%;
    margin-top: 11%;
    font-size: 20px;
    letter-spacing: -1px;
   
}

.web_txt::after{
    display: block;
    content: '';
    width: 70px;
    height: 3px;
    background-color: #90dba6;
    margin-top: 10px;
    margin-left: 58px;
}

.date{
    width: 100%;
    height: 150px;
    margin-top: 30px;
 
   
   
}


.d_icon{
    width: 100%;
    height: 30px;
    margin-left: 51%;
    line-height: 18px;
    
    
}

#calendar{

    float: left;
    color: #333333;
    font-size: 20px;
}
.d_icon p{
    float: left;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-left: 15px;
  
}

#tool_icon{
    width: 210px;
    height: 80px;
    margin: 0 auto;
    padding: 15px;
    margin-left: 445px;
    box-sizing: border-box;
    
}

.toll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333333;
    float: left;
    margin:0 5px;
    text-align: center;
    box-sizing: border-box;
    
}

.toll>i{
    font-size: 30px;

    line-height: 50px;
    color: #c3ffd5;
}

.btn_con_wrap{
    width: 100%;
    float: left;
    text-align: center;
    font: 300 20px/50px '';
   
   
}

.guide_con{
    width: 170px;
    height: 50px;
    border: 1px solid#333333;
    float: left;
    color: #333333;
    margin-left: 41%;
    transition: color 0.4s linear;
    position: relative;
    top: 0;
    z-index: 9;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.guide_con:hover{
    color: #c3ffd5;
   
}

.guide_con::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,0.5,0.4,0.7);
}

.guide_con::before{
    transform: scaleX(0);
}

.guide_con:hover::before{
    transform: scaleX(1);
}

.view_con{
    width: 170px;
    height: 50px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    float: left;
    position: relative;
    top: 0;
    z-index: 9;
    cursor: pointer;
   
}
   



.view_con>a{
    color: #333333;
    transition: color 0.4s linear;
}

.view_con:hover a{ 
    color: #c3ffd5;
}
.view_con::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,0.5,0.4,0.7);
}

.view_con::before{
    transform: scaleX(0);
}

.view_con:hover::before{
    transform: scaleX(1);
}


.left_con{
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 200px;
    position: relative;
    
}

.pc_con{
    width: 600px;
    height: 480px;
    background: url(img/pc_bg.png) no-repeat center / cover;
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;

}

#pc_mask{
    width: 520px;
    height: 290px;
    position: absolute;
   top: 30px;
   left: 40px;
   overflow: hidden;
}
img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: 7s;
    
}

#pc_mask:hover img{
    top: -1904px;
}

.mo_con{
    width: 500px;
    height: 333px;
    background: url(img/mo_gompyo.png) no-repeat center/cover;
    position: absolute;
    right: 80px;
    bottom: 130px;
}

/* sec04_sub_page 가이드 페이지 영역======================================= */

#sec04_sub_container{
    width: 97%;
    height: 90vh;
    background-color: #f8f8f8;
    position: absolute;
    top: 5%;
    left: -97%;
    border-bottom-right-radius: 200px;
    transition: 1s;
    z-index:80;
    
}

.sec04_sub_bg{
    width: 50%;
    height: 80%;
    margin-left: 30%;
    margin-top: 10%;
    background: url(img/historybg.png) no-repeat center /cover;
  
}

.sec04_sub_title{
    width: 700px;
    height: 45px;
    background-color: #333333;
    color: #eeeeee;
    position: absolute;
    top: 10%;
    font-size: 22px;
    line-height: 45px;
    text-align: right;
    padding-right: 40px;
    box-sizing: border-box;
   
}

.sub_overview_wrap{
    width: 410px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 15.5%;
  
}

.over_title{
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 18.5px;

}
.over_sub_con{
    line-height: 26px;
  
}

#color_title{
    margin-top: 200px;
}

.right_top_wrap{
    width: 700px;
    position: absolute;
    top: 20%;
    left: 50%;
   
}

.as_title{
    width: 100px;
    font-weight: 700;
    font-size: 18.5px;
    float: left;
    line-height: 100px;

}

.as_con_wrap{
    width: 600px;
    float: left;
    text-align: center;
    font-size: 14px;
}
.as_con{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #eeeeee;
    float: left;
    padding: 45px 13px 13px 10px;
    box-sizing: border-box;
    color: #333333;
    margin: 0px 20px;
    box-shadow: 5px 5px 20px 0px rgba(78, 78, 78, 0.5);
}

#sub_arrow{
    position: absolute;
    top: 37%;
    left: 68.3%;
}
.arrow01{
    font-size: 30px;
  
}



.right_bottom_wrap{
    position: absolute;
    top: 43%;
    left: 50%;
}

.right_bottom_wrap .as_con{
    background-color: #333333;
    color: #eeeeee;
}


.color_wrap{
    width: 747px;
    height: 220px;
    position: absolute;
    top: 65%;
    left: 43%;
    display: flex;
}
.box_color{
    width: 220px;
    height: 220px;
    background-color: #17B0BE;
    margin-left: 22px;
    text-align: center;
    line-height: 220px;
    box-shadow: 5px 5px 20px 0px rgba(78, 78, 78, 0.5);

}

.box_color:nth-child(2){
    background-color: #fff;
}
.box_color:nth-child(3){
    background-color: #343434;
    color: #eeeeee;
}




/* sec05================================================================== */
#sec05{
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}
#sec05 .main_bg{
    width: 100%;
    height: 100vh;
    float: left;
    opacity: 0.1;
    background: url(img/main_subbg.png) no-repeat center / cover;
}

#sec05_container{
    width: 97%;
    height: 90vh;
    background-color: #f8f8f8;
    position: absolute;
    top: 5%;
    border-bottom-right-radius: 200px;
    display: flex;
}

#sec05_container .left_con>.pc_con{
    background: url(img/pc_bg.png) no-repeat center/cover;
}
#sec05_container .left_con>.pc_con>#pc_mask{
    width: 522px;
    height: 294px;
    position: absolute;
    top: 26px;
    left: 39px;
    overflow: hidden;
    transition: 7s;
}

#sec05_container .left_con>.pc_con>#pc_mask>img{
    width: 100%;
    top: 0;
    left: 0;
}

#sec05_container>.left_con>.pc_con>#pc_mask:hover img{
    top: -1480px;
}






#sec05_container .left_con>.mo_con{
    background: url(img/mo_limas.png) no-repeat center/cover;
}


.btn_con_wrap{
    width: 100%;
    float: left;
    text-align: center;
    font: 300 20px/50px '';

   
}

#limas_btn01{
    width: 170px;
    height: 50px;
    border: 1px solid#333333;
    float: left;
    margin-left: 41%;
    transition: color 0.4s linear;
    position: relative;
    top: 0;
    z-index: 9;
    cursor: pointer;
}

#limas_btn01:hover{
    color: #c3ffd5;
   
}

#limas_btn01::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,0.5,0.4,0.7);
}
#limas_btn02>a{
    transition: color 0.4s linear;
}

#limas_btn02:hover a{ 
    color: #c3ffd5;
}

#limas_btn01::before{
    transform: scaleX(0);
}

#limas_btn01:hover::before{
    transform: scaleX(1);
}

#limas_btn02{
    width: 170px;
    height: 50px;
   
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    float: left;
    position: relative;
    top: 0;
    transition: color 0.4s linear;
    z-index: 9;
    cursor: pointer;
   

}

#limas_btn02:hover{
    color: #c3ffd5;
}
#limas_btn02::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,0.5,0.4,0.7);
}

#limas_btn02::before{
    transform: scaleX(0);
}

#limas_btn02:hover::before{
    transform: scaleX(1);
}


/* 라이마스 서브 페이지 영역================================= */

#sec05_sub_container{
    width: 97%;
    height: 90vh;
    background-color: #eeeeee;
    position: absolute;
    top: 5%;
    left: -97%;
    border-bottom-right-radius: 200px;
    transition: 1s;
    z-index:80;
    
}

.sec05_sub_bg{
    width: 100%;
    height: 100%;
    opacity: 0.1;
    border-bottom-right-radius: 200px;
    background: url(img/main_img01.jpg) no-repeat center /cover;
  
}

.sec05_sub_title{
    width: 700px;
    height: 45px;
    background-color: #333333;
    color: #eeeeee;
    position: absolute;
    top: 10%;
    font-size: 22px;
    line-height: 45px;
    text-align: right;
    padding-right: 40px;
    box-sizing: border-box; 
}

#sec05_sub_container .color_wrap>.box_color:nth-child(1){
    background-color: #eeeeee;
}
#sec05_sub_container .color_wrap>.box_color:nth-child(3){
    background-color: #000;
}



/* sec06 */

#sec06{
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
    left: 0;
}
#sec06 .main_bg{
    width: 100%;
    height: 100vh;
    float: left;
    opacity: 0.1;
    background: url(img/main_bg_r.png) no-repeat center / cover;
}

#sec06_top_con{
 
    float: left;
    color: #c3ffd5;
    position: absolute;
    top: 29%;
    left: 20%;
    font-size: 20px;
}

#tell_con{
    width: 500px;
    position: absolute;
    top: 58%;
    left: 20%;
   
}


.tell_incon{
    width: 100%;
    color: #c3ffd5;
    margin-top: 15px;
   
}
.tell_incon:nth-child(2){
    float: left;
}
.tell_incon:nth-child(3){
    float: left;
}

.tell_incon>i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    float: left;
}
#mail{font-size: 28px;}

.tell_incon>p{
    float: left;
    margin-left: 30px;
    font-size: 20px;
    color: #eeeeee;
}

.tell_incon .tell_w{
    font-weight: 900;
}

#sec06>#sec06_sub_title01{
    color: #c3ffd5;
    opacity: 0.3;
   
}
#sec06>#sec06_sub_title02{
    color: #c3ffd5;
    opacity: 0.3;
    left: 60%;

}


#sec06>#sec01_sub_title01{
    top: 60%;
}

#sec06_sub_title01{
    position: absolute;
    top: 60%;
    left: 81%;
    color: #333333;
    font-size: 33px;
  
}

#sec06_sub_title02{
    position: absolute;
    top: 53%;
    left: 59.5%;
    color: #333333;
    font-size: 33px;
    transform: rotate(-90deg);
 

}

/* 타이핑 텍스트 효과(contact) */
#contact_con{
    width: 800px;
    position: absolute;
    top: 41%;
    left: 20%;
    color: #c3ffd5;
    font-size: 100px;
    overflow: hidden;
    animation: typing 3s steps(11, end) infinite; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;   
}

#contact_con:after{
    display: block;
    content: '';
    width: 0px;
    height: 72px;
    position: absolute;
    top: 27px;
    right: 0;
    border-right: 3px solid rgb(216, 216, 216);
    animation: cursor 0.7s step-end infinite;
}

@keyframes typing {
    0%{width: 0%;}
    100%{width: 800px;}
}

@keyframes cursor{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

#insta_img_wrap{
    width: 980px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    bottom: 110px;
    left: 20%;
}

#top_insta_wrap{

    width: 1960px;
    height: 120px;
    float: left;
    animation: marquee 10s infinite linear;

}

.top_wrap{
    width: 980px;
    height: 100%;
    float: left;
}

.top{
    width: 120px;
    height: 120px;
    background: url(img/mj2-2.png) no-repeat center / cover;
    float: left;
    margin: 0 10px;
}
.top:nth-child(2){
    background: url(img/mj3.png) no-repeat center/cover;
}
.top:nth-child(3){
    background: url(img/mj4.png) no-repeat center/cover;
}

.top:nth-child(4){
    background: url(img/mj9.png) no-repeat center/cover;
}
.top:nth-child(5){
    background: url(img/mj8.png) no-repeat center/cover;
}
.top:nth-child(6){
    background: url(img/mj6.png) no-repeat center/cover;
}
.top:nth-child(7){
    background: url(img/mj5.png) no-repeat center/cover;
}

@keyframes marquee{
    0%{
        margin-left: 0;
    }

    100%{
        margin-left: -980px;
    }
}

#insta_img_wrap:hover #top_insta_wrap{
    animation-play-state: paused;
}

#top_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100px;
    bottom: 110px;

    cursor: pointer;
   
     /* position: fixed; */
}
#top_btn:hover img{opacity: 0;
transition: 0s;}

#top_btn:hover {
    width: 40px;
    height: 40px;
    opacity: 1;
 
    background: url(img/mm.png) no-repeat center/cover;
    /* background-color:pink ; */
}

 


















 





